.box{
    
    border:5px dotted rgb(14, 13, 13);
    margin-top: 20px;
    margin-right:1em ;
    margin-bottom: 40px;
    margin-left: 2em;
    padding: 1em;
    width: 550px;
   
   

}